@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.header {
    width: 100vw;
    height: 10vh;
}

p {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

ul {
    margin-top: 1rem;
}

li {
    font-size: 1.3rem;
    list-style-type: square;
    list-style-position: inside;
}

h3 {
    font-size: 1.5rem;
}

/*** content/section ***/
section {
    position: fixed;
    top: 25%;
    left: 15%;
}

section h1 {
    font-size: 5rem;
    letter-spacing: 1rem;
    font-family: 'Playfair Display', serif;
}

.logo {
    font-family: 'Playfair Display', serif;
}

section h2 {
    margin-top: 5%;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-radius: 12px;
    text-align: center;
    background-color: #ff7200;
}

section h2 a {
    color: white;
    text-decoration: none;
}
section h2 a:hover {
    color: dimgray;
}

/*** ANIMATIONS ***/
/** home **/
.home-animation-out h1 {
    animation-name: home-animation-out-h1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.home-animation-out h2 {
    animation-name: home-animation-out-h2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.home-animation-in h1 {
    animation-name: home-animation-in-h1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.home-animation-in h2 {
    animation-name: home-animation-in-h2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes home-animation-out-h1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes home-animation-out-h2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes home-animation-in-h1 {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes home-animation-in-h2 {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

/*** media queries ***/
@media screen and (min-width: 780px) and (max-width: 1024px) {
    .portfolio-item-3 {
        visibility: hidden;
    }
}

@media screen and (max-width: 780px) {
    body {
        overflow-y: scroll;
        background: #fff6e8;
    }
    .header {
        display: none;
    }
    section {
        padding-left: 1rem;
        margin-top: 15vh;
        margin-bottom: 20vh;
        position: static;
    }
    section h1 {
        font-size: 2.5rem;
    }
    section h2 {
        font-size: 2rem;
    }
    .hidden {
        visibility: visible;
    }
}
